.Footer {
  position: relative;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Common button style */
.footerBtn {
  width: 280px;
  height: 55px;
  font-size: 1.1rem;
  border: 2px solid #888888;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.2) 0%,
    rgba(115, 115, 115, 0.2) 100%
  );
  color: #ffffff;
  font-weight: 600;
  font-family: "Unbounded", sans-serif;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.footerBtn:hover {
  border-color: #ffffff;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.5) 0%,
    rgba(115, 115, 115, 0.5) 100%
  );
}

/* Specific button positions */
.generateButton {
  position: absolute;
  bottom: 10%;
  left: 2%;
}

/* Dropdown container to position the button and options together */
.dropdownContainer {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 280px;
}

.dropDown {
  width: 100%;
  position: relative;
  z-index: 2;
}

.sort {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 1.1rem;
  border: 2px solid #888888;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  font-family: "Unbounded";
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.2) 0%,
    rgba(115, 115, 115, 0.2) 100%
  );
}

.sort:hover {
  border-color: #ffffff;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.5) 0%,
    rgba(115, 115, 115, 0.5) 100%
  );
}

/* Dropdown styles */
.dropDownOption {
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 15px;
  border: 2px solid #888888;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 5px; /* Small gap between dropdown and button */
}

.dropDownOption button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
  color: #ffffff;
  font-family: "Unbounded", sans-serif;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.2) 0%,
    rgba(115, 115, 115, 0.2) 100%
  );
  backdrop-filter: blur(4px);
}

.dropDownOption button:last-child {
  border-bottom: none;
}

.dropDownOption button:hover {
  background: linear-gradient(
    to right,
    rgba(230, 230, 230, 0.5) 0%,
    rgba(115, 115, 115, 0.5) 100%
  );
}